body {
    font-family: "Inter", sans-serif;
    margin: 0;
}

/* Colors
White: #FFFFFF
Off-White: #D2D2D9
Blue: #003aaf
Gray: #333333
Red: #db333c
Black: #000000
*/

/* Header */

header {
    background-color: #D2D2D9;
    padding: 1rem 10px;
    text-align: center;
}

header span {
    color: #000;
    font-weight: 700;
    font-size: 2rem;
}

/* Navigation */

nav {
    background-color: #db333c;
}

nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
    font-weight: 700;
}

nav li.active a {
    color: #ffffff;
}

nav a:hover {
    color: #ffffff;
}

/* Main Body */

main {
    padding: 1rem 10px;
}

main h1 {
    color: #262626;
}

main h2 {
    color: #262626;
    margin-bottom: .2rem;
}

main p {
    margin: .1rem;
    color: #333;
}

main ol {
    padding: .5rem 30px;
    margin: 1rem 0;
}

main dl dt {
    color: #262626;
    font-weight: 600;
    margin-top: 1rem;
}

main dl dd {
    color: #262626;
    font-size: .9rem;
    margin-left: 20px;
}

main ul {
    list-style-type: circle;
}

main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
    border: 1px solid #333333;
    border-radius: 6px;
    padding: .5rem;
    width: 300px;
}

main strong {
    font-weight: 700;
    color: #003aaf;
}

main em {
    font-weight: 400;
}

main a {
    color: #003aaf;
}

main a:hover {
    color: #D2D2D9;
}

/* Footer */

footer {
    background-color: #D2D2D9;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #262626;
}

footer p {
    margin: 0;
    letter-spacing: 1px;
}